server:
  port: 8080

logging:
  level:
    root: info
spring:
  security:

  datasource:
    url: jdbc:mysql://localhost:3306/employeeManagement?useSSl=false
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect

root:
    url: /api/v1/employee-management
secret:
  key: 41c3553fd2022632c55eaad0c69ae3b07883cb3f104d81c32531c97210c2becd
mail:
  host: smtp.gmail.com
  port: 587
  username: todolistorganization@gmail.com
  password: rgankytzymfbyphy
  protocol: smtp
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true